.bullet__item{
    margin-left: 100px;
    text-decoration: none;
    color: black

}

.bullet__item--title {
    text-decoration: none;
    color: black
}

.bullet__container {
    display: flex;
    overflow: auto;
}

.bullet__container ::-webkit-scrollbar{
    height: 7px;
}

.bullet__container ::-webkit-scrollbar-track {
    background-color: red;
    background-clip: padding-box;
    border-right: 16px solid transparent;
}

.bullet__container ::-webkit-scrollbar-thumb {
    background-color: blue;
    background-clip: padding-box;
    border-right: 16px solid transparent;
}